<h3>Summary of the new transaction</h3>

<div class="container">
  <div class="title">Name</div>
  <div class="value">{{ dto.name }}</div>
  <div class="title">Description</div>
  <div class="value">{{ dto.description || '-' }}</div>
  <div class="title">Person</div>
  <div class="value">{{ dto.personName }}</div>
  <div class="title">Date</div>
  <div class="value">{{ dto.date | dateBr }}</div>
  <div class="title">Total</div>
  <div class="value">{{ dto.total | currency: 'R$' }}</div>
</div>

<app-button-actions>
  <a mat-raised-button [routerLink]="['../date-and-total']" [disabled]="loading">Back</a>
  <button mat-raised-button color="primary" (click)="create()" [disabled]="loading">Create transaction</button>
</app-button-actions>
