<h3>{{ messages.summaryTitle }}</h3>

<div class="container">
  <ng-container *ngFor="let item of summary$ | async; trackBy: trackBySummary">
    <div class="title">{{ item.title }}</div>
    <div class="value">{{ item.value }}</div>
  </ng-container>
</div>

<app-button-actions>
  <a mat-raised-button [routerLink]="['../date-and-total']" [disabled]="loading">Back</a>
  <button mat-raised-button color="primary" (click)="create()" [disabled]="loading">
    {{ messages.summarySaveButton }}
  </button>
</app-button-actions>
