@use '@angular/material' as mat;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #303030;
  color: #fff;
}

@include mat.core();

$primary: mat.define-palette(mat.$pink-palette);
$accent: mat.define-palette(mat.$blue-gray-palette);
$theme: mat.define-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
    ),
  )
);

@include mat.all-component-themes($theme);
