@use '@angular/material' as mat;
@use 'variables' as var;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #303030;
  color: #fff;
}

@include mat.core();
@include mat.all-component-themes(var.$theme);

.mat-progress-bar.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-dialog-container {
  position: relative;
}

.mat-form-field {
  width: 100%;
}

.mat-card.card-selectable {
  height: 200px;
  width: 125px;
  display: grid;
  place-items: center;
  border: 2px solid transparent;
  transition: border 200ms ease;
  &:hover {
    border-color: var.$primary-color;
  }
}
